/* =========================
        COLOR PALETTE
========================= */


#color-palette {

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

}



/* =========================
        COLOR BUTTONS
========================= */


.color-btn {


    width:45px;


    height:45px;



    border-radius:10px;



    border:
    2px solid rgba(255,255,255,.25);



    cursor:pointer;



    transition:
    transform .2s ease,
    box-shadow .2s ease,
    border .2s ease;


}



.color-btn:hover {


    transform:
    scale(1.1);


    box-shadow:
    0 0 12px rgba(255,255,255,.25);


}




.color-btn.selected {


    border:
    3px solid white;



    transform:
    scale(1.12);



    box-shadow:

    0 0 15px rgba(255,255,255,.8);


}




/* =========================
        ERASER
========================= */


.eraser {


    color:white;



    font-size:20px;



    font-weight:bold;



}